@page
@model ServiceHost.Pages._404Model
@{
    ViewData["Title"] = "404";
}

<div class="error">
    <div class="container-floud">
        <div class="col-12 ground-color text-center">
            <div style="font-size:48px;">404</div>
            <h2 class="h1" style="margin-top:35px;">صفحه مورد نظر یافت نشد!</h2>
            <a href="/Index"><button class="btn btn-primary" style=" margin-bottom:250px;margin-top:50px;">بازگشت به صفحه نخست</button></a>
        </div>
    </div>
</div>
